<app-parent></app-parent>
<div>
    <h2>Root Level Service Scope </h2>
    <p>{{ dataservice.counter }}</p>
    <button (click)="dataservice.increment()">increment counter Value </button>
    <button (click)="dataservice.decrement()">decrement counter Value</button>
</div>
<div>
    <h2>Root Level Service Scope </h2>
    <p>{{ dataservice.counter }}</p>
    <button (click)="dataservice.increment()">increment counter Value </button>
    <button (click)="dataservice.decrement()">decrement counter Value</button>
</div>
